
**/*.bk
**/*.ts.bk
node_modules
lerna-debug.log
/coverage
/built
/tmp
.awcache
.DS_Store
.env
tests/apis
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lena-debug.log*
services/
lib/services/
.mocks/
.idea/
test/services/
media/lib/
scripts/dev/
yarn-error.log
out/
.nyc_output/
.vscode-test/
tsconfig.tsbuildinfo
*.tsbuildinfo
package-lock.json
dist
media/dist/
media/node_modules
media/assets/
media/out

# next.js
media/.next/
media/out/
media/dist/assets

*.local.js
*.local.ts
*.local.mjs

src/scripts
