@import "../../styles/variable.scss";
.editor-content {
  .operations {
    display: flex;
    margin: 16px 0 16px 0px;
    padding: 8px 16px;
    justify-content: space-between;
    .right-area {
      display: flex;
      .ant-btn {
        margin-left: 8px;
        padding: 0px;
        background-color: $primary-bg-color;
        border: 1px #f8f9fa solid;
      }
      .ant-btn:hover {
        background-color: $code-bg;
        border: 1px $hover-border solid;
        color: $hover-text-color;
      }
    }
    .left-area {
      display: flex;
      margin: auto 0;
      width: 200px;
      .head-info {
        margin: auto 8px;
      }
    }
    .codicon {
      padding: 8px;
      cursor: pointer;
      color: $primary-font-color;
    }
    .codicon:hover {
      color: $hover-text-color;
    }
  }
  .tab-content {
    position: relative;
  }
}
.content {
  .ant-btn {
    margin-left: 8px;
    padding: 8px;
    background-color: #f8f9fa;
    border: 1px #f8f9fa solid;
  }
  .ant-btn:hover {
    background-color: #fff;
    border: 1px #2f84ae solid;
    color: #2f84ae;
  }
}
