.editor-content {
  .operations {
    display: flex;
    margin: 0 0 16px 0px;
    // box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    //    width: 300px;
    justify-content: space-between;
    .right-area {
      display: flex;
      .ant-btn {
        margin-left: 8px;
        padding: 0px;
        background-color: #f8f9fa;
        border: 1px #f8f9fa solid;
      }
      .ant-btn:hover{
        background-color: #fff;
        border: 1px #2f84ae solid;
        color: #2f84ae;
      }

    }
    .left-area {
      display: flex;
      margin: auto 0;
      width: 200px;
      .head-info {
        margin: auto 8px;
      }
    }
    .codicon {
      padding: 8px;
      cursor: pointer;
    }
  }
  .tab-content {
    position: relative;
  }
}
