.language-switcher-comp {
  margin:16px 16px;

  .ant-tabs-content-holder{
    margin-top:16px
  }
    .ant-tabs {
      .ant-tabs-extra-content {
        display: inline-block;
        margin-right: 20px;
        color: #666666;
        font-weight: 500;  
      }
      &>.ant-tabs-nav::before {
        border: none;
      }
    }
    .ant-tabs-nav {
      height: 32px;
      margin-bottom: 16px;
      color: #303030;
      line-height: 32px;
      padding-left: 0;
      border: none;
      box-shadow: none;
  
      .ant-tabs-extra-content {
        .label {
          &::after {
            content: ':';
          }  
        }
      }
  
      .oa-iconfont.icon-dara {
        margin-right: -15px;
        margin-left: -15px;
        font-size: 18px;
        vertical-align: -0.1em;
      }
      .ant-tabs-nav-more {
        border: 1px solid #CBCBCB;
        .anticon {
          vertical-align: 0.4em;
        }
      }
    }
  
    .ant-tabs-nav-wrap {
      margin-left:16px;
      .ant-tabs-nav-list {
        padding-left: 0px !important;
        .ant-tabs-tab {
          margin-right: -1px !important;
          padding: 8px 16px !important;
          font-size: 12px;
          border: none;
          border: 1px solid #CBCBCB;
          border-radius: 0px;
          background-color: #fff;
          &:nth-last-child(2) {
            margin-right: 0px !important;
          }
        }
        .ant-tabs-tab-active {
          border: 1px solid #FF6A00;
          position: relative;
          z-index: 999;
        }
      }
      
      .oa-iconfont {
        margin-right: 2px;
        font-size: 14px;
        vertical-align: 0;
  
        &.icon-java {
          font-size: 16px;
          vertical-align: -0.25em;
        }
  
        &.icon-typescript {
          font-size: 16px;
          vertical-align: -0.25em;
        }
  
        &.icon-python {
          font-size: 16px;
          vertical-align: -0.2em;
        }
  
        &.icon-php {
          font-size: 26px;
          vertical-align: -0.3em;
        }
  
        &.icon-go {
          font-size: 26px;
          vertical-align: -0.3em;
        }
  
        &.icon-csharp {
          vertical-align: -0.15em;
        }
  
        &.icon-node-js {
          vertical-align: -0.15em;
        }
  
        &.icon-ruby {
          vertical-align: -0.2em;
        }
        &.icon-cpp {
          vertical-align: -0.2em;
        }
        &.icon-swift {
          font-size: 20px;
          vertical-align: -0.2em;
        }
      }
    }
  
    .right-ops {
      .ant-btn {
        margin-right: 12px;
      }
  
      .infos {
        vertical-align: middle;
        .item {
          margin-left: 12px;
          color: #fb6220;
          cursor: pointer;
        }
  
        .sep-line {
          display: inline-block;
          width: 1px;
          height: 22px;
          margin: 0 10px;
          line-height: 22px;
          vertical-align: middle;
          background-color: #d8d8d8;
        }
      }
    }
  
    .empty-card {
      margin-top: 16px;
    }
  }
  
  