.sdk-demo-content{
     .operations{
        display: flex;
        margin:16px 16px;
        width: 300px;
        justify-content: space-around;
        .head-info{
            margin: auto 0;
        }
     }
     .tab-content{
        position: relative;
     }
     
}